doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='./css/normalize.css')
    link(rel='stylesheet', type='text/css', href='./icons/fontawesome/css/all.min.css')
    link(rel='stylesheet', type='text/css', href='./icons/fontawesome/css/fontawesome.min.css')
    link(rel='stylesheet', type='text/css', href='./css/resume.css')
  body
    .container
      block header
      block content
